# Ignore node_modules in the root and rovero directory
node_modules/
rovero/node_modules/

# Ignore Next.js build output
.rovero/.next/
rovero/.next/

# Ignore all .DS_Store files
.DS_Store

# Ignore package-lock.json in the root and rovero directory
package-lock.json
rovero/package-lock.json